@use "@/styles/mixin" as m;
@use "@/styles/variable" as v;

.button {
  @include m.button-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;

  background: v.$primary-100;
  padding: 12px 23px;
  border-radius: 8px;

  color: v.$coolGray-100;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
