@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.header {
  @include m.center-block(1200px);

  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .wrapper {
    display: flex;
    gap: 24px;
    align-items: center;

    .link {
      display: flex;
      align-items: center;

      .linkContent {
        @include m.link-reset;

        padding: 21px 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: v.$secondary-600;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;

        &.active {
          color: v.$primary-100;
        }
      }
    }
  }
}

.linkTag {
  @include m.link-reset;
}
