.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999; // 항상 최상단에 뜨도록
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1; // 부모 컨테이너 내에서만 표시
}

.blur {
  background-color: rgba(255, 255, 255, 0.4); // 반투명 배경
  backdrop-filter: blur(6px); // 블러 처리
}

.noBlur {
  background-color: transparent; // 투명 배경
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
