@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.textarea {
  @include m.textarea-reset;
  width: 100%;

  display: flex;
  padding: 16px 24px;
  align-items: flex-start;

  border-radius: 12px;
  background: v.$coolGray-100;

  &.xs {
    height: 80px;

    color: v.$coolGray-800;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &.sm {
    height: 104px;
  }

  &.lg {
    height: 282px;
  }
}
