.registerForm {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 32px;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: var(--Secondary-800);
  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}
