@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary-color-100: #3692ff;
  --primary-color-200: #1967d6;
  --primary-color-300: #1251aa;

  --error-color: #f74747;

  --secondary-color-50: #f9fafb;
  --secondary-color-100: #f3f4f6;
  --secondary-color-200: #e5e7eb;
  --secondary-color-400: #9ca3af;
  --secondary-color-500: #6b7280;
  --secondary-color-600: #4b5563;
  --secondary-color-700: #374151;
  --secondary-color-800: #1f2937;
  --secondary-color-900: #111827;

  --background-color: #fcfcfc;
  --white-color: #fff;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: var(--primary-color-100);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-pretendard), "Pretendard", sans-serif;
  padding-top: 64px !important;
}

.logo {
  cursor: pointer;
}

/* footer 스타일 */
footer {
  background-color: var(--secondary-color-900);
}

.footer-container {
  width: 100%;
  padding: 3.2rem 20rem 10.8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 1.4rem;
  color: var(--secondary-color-400);
}

.footer-nav {
  display: flex;
  gap: 3rem;
}

.footer-nav a {
  font-size: 1.4rem;
  color: var(--secondary-color-200);
  cursor: pointer;
}

.social-links {
  display: flex;
  gap: 1.2rem;
}

.social-links a {
  cursor: pointer;
}

/* 버튼 스타일 */
.btn-large {
  display: inline-block;
  height: 5.6rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 1.6rem 12.4rem;
  border-radius: 4rem;
  background: var(--primary-color-100);
  color: var(--white-color);
  cursor: pointer;
}

.btn-large:hover {
  background: var(--primary-color-200);
}

.btn-large:active {
  background: var(--primary-color-300);
}

.btn-large:disabled {
  background: var(--secondary-color-400);
  color: var(--secondary-color-100);
  cursor: not-allowed;
}

.btn-small-40 {
  display: inline-block;
  height: 4.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 1.2rem 2.3rem;
  border-radius: 0.8rem;
  background: var(--primary-color-100);
  color: var(--secondary-color-100);
  cursor: pointer;
}

.btn-small-40:hover {
  background: var(--primary-color-200);
}

.btn-small-40:active {
  background: var(--primary-color-300);
}

.btn-small-40:disabled {
  background: var(--secondary-color-400);
  color: var(--secondary-color-100);
}

.btn-small-48 {
  display: inline-block;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 1.2rem 4.6rem;
  border-radius: 0.8rem;
  background: var(--primary-color-100);
  color: var(--secondary-color-100);
  cursor: pointer;
}

.btn-small-48:hover {
  background: var(--primary-color-200);
}

.btn-small-48:active {
  background: var(--primary-color-300);
}

.btn-small-48:disabled {
  background: var(--secondary-color-400);
  color: var(--secondary-color-100);
}

.popup-btn {
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
}

/* input 스타일 */

.input-label {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--secondary-color-800);
  margin-bottom: 1.2rem;
}

.input-common {
  width: 100%;
  height: 5.6rem;
  padding: 0 1.6rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  color: var(--secondary-color-800);
  background-color: var(--secondary-color-100);
  border: 0.1rem solid transparent;
}

.input-common::placeholder {
  color: var(--secondary-color-400);
}

.input-common:focus {
  border: 0.1rem solid var(--primary-color-100);
  outline: none;
}

.input-common.error {
  border: 0.1rem solid var(--error-color);
}

.input-common.error ~ p {
  font-size: 1.5rem;
  margin: 0.8rem 1.4rem;
  color: var(--error-color);
}

.input-password-group {
  position: relative;
}

.input-password-toggle {
  position: absolute;
  right: 2.4rem;
  top: 16px;
  cursor: pointer;
}

/* 간편로그인 스타일 */

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 2.3rem;
  border-radius: 0.8rem;
  background-color: #e6f2ff;
}

.social-login p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--secondary-color-800);
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

/* auth 컴포넌트 */
.signup-link {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2.4rem;
  color: var(--secondary-color-800);
}

.signup-link p {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.signup-link a {
  color: var(--primary-color-100);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* 팝업 스타일 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.popup-overlay.active {
  display: flex;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  z-index: 11;
}

.popup-content {
  font-size: 1.6rem;
  padding-bottom: 2.8rem;
}

/* 반응형 스타일 */
@media (max-width: 1199px) {
  .footer-container {
    padding: 3.2rem 2.4rem 8rem;
  }
}

@media (max-width: 743px) {
  .btn-large {
    width: 24rem;
    height: 4.8rem;
    font-size: 1.8rem;
    padding: 1.2rem 0;
    text-align: center;
    margin: 0 auto;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 2.4rem;
    padding: 3.2rem 1.6rem 6.5rem;
  }

  .copyright {
    order: 1;
    flex-basis: 100%;
  }

  .popup-container {
    width: calc(100% - 4.8rem);
  }

  .popup-btn {
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.3rem;
    min-width: 12rem;
  }
}

@theme inline {
  --primary-color: var(--primary-color-100);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-cool-gary: var(--secondary-color-50);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-secondary-50: var(--secondary-color-50);
  --color-secondary-100: var(--secondary-color-100);
  --color-secondary-200: var(--secondary-color-200);
  --color-secondary-400: var(--secondary-color-400);
  --color-secondary-500: var(--secondary-color-500);
  --color-secondary-600: var(--secondary-color-600);
  --color-secondary-700: var(--secondary-color-700);
  --color-secondary-800: var(--secondary-color-800);
  --color-secondary-900: var(--secondary-color-900);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
