@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Mobile styles */
:root {
    /* cool Gray */
    --Cool-Gray-900: #111827;
    --Cool-Gray-800: #1f2937;
    --Cool-Gray-500: #6B7280;
    --Cool-Gray-400: #9CA3AF;
    --Cool-Gray-200: #e5e7eb;
    --Cool-Gray-100: #F3F4F6;
    --Cool-Gray-50: #f9fafb;

    /* Secondary */
    --Secondary-800: #1F2937;
    --Secondary-600: #4b5563;
    --Secondary-500: #6b7280;
    --Secondary-400: #9ca3af;

    /* Gray scale */
    --gray-900: #1b1d1f;
    --gray-800: #26282b;
    --gray-600: #454c53;
    --gray-500: #72787f;
    --gray-400: #9ea4a8;
    --gray-200: #e5e7eb;
    --gray-100: #e8ebed;
    --gray-50: #f7f7f8;

    /*  White */
    --white-FFFFFF: #fff;

    /* Primary color */
    --brand-blue: #3692ff;
    --hover-blue: #1967d6;
    --focus-blue: #1251aa;

    /* Layout dimensions */
    --header-height: 70px;
    --footer-height: 164px;

    /* ================= Font Families ================= */
    --font-family: 'Pretendard', sans-serif;

    /* ================= Font Sizes ================= */
    --font-32-bold: 700 32px / normal var(--font-family);
    --font-24-bold: 700 24px / normal var(--font-family);
    --font-20-bold: 700 20px / normal var(--font-family);
    --font-20-semibold: 600 20px / normal var(--font-family);
    --font-20-medium: 500 20px / normal var(--font-family);

    --font-18-bold: 700 18px / normal var(--font-family);
    --font-18-medium: 500 18px / normal var(--font-family);
    --font-18-regular: 400 18px / normal var(--font-family);

    --font-16-bold: 700 16px / normal var(--font-family);
    --font-16-semmibold: 600 16px / normal var(--font-family);
    --font-16-medium: 500 16px / normal var(--font-family);
    --font-16-regular: 400 16px / normal var(--font-family);

    --font-14-bold: 700 14px / normal var(--font-family);
    --font-14-medium: 500 14px / normal var(--font-family);
    --font-14-regular: 400 14px / normal var(--font-family);

    --font-12-bold: 700 12px / normal var(--font-family);
    --font-12-medium: 500 12px / normal var(--font-family);
    --font-12-regular: 400 12px / normal var(--font-family);

    --font-10-bold: 700 10px / normal var(--font-family);
    --font-10-medium: 500 10px / normal var(--font-family);
    --font-10-regular: 400 10px / normal var(--font-family);

    /* Large Titles */
    --font-150-bold: 700 71.277px / normal var(--font-family);
    --font-120-bold: 700 57.021px / normal var(--font-family);
    --font-80-bold: 700 38.014px / normal var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    all: unset; /* 기본 스타일 제거 */
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

img {
    vertical-align: bottom;
}

body {
    color: #374151;
    word-break: keep-all;
    font-family: 'Pretendard', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;

    z-index: 10;
}

ol,
ul,
li {
    list-style: none;
}

.with-header {
    margin-top: var(--header-height);
    padding: 0;
    overflow: auto;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

header p {
    color: var(--Secondary-600, #4b5563);
    text-align: center;
    /* pretendard/2lg-18px-bold */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */

    display: flex;
    padding: 25px 0;
}

footer {
    height: var(--footer-height);
    background-color: #111827;
    color: #9ca3af;
    font-size: 16px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    gap: 60px;
}

#copyright {
    order: 3;
    flex-basis: 100%;
}

#footerMenu {
    display: flex;
    gap: 30px;
    color: var(--gray-200);
}

#socialMedia {
    display: flex;
    gap: 12px;
}

.wrapper {
    width: 100%;
    padding: 0 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
}

.full-width {
    width: 100%;
}

/* 줄바꿈을 없애는 효과 */
.break-on-desktop {
    display: none;
}

/* Tablet styles */

@media (min-width: 744px) {
    header {
        padding: 0 24px;
    }

    header > div {
        gap: 20px;
    }

    header > div > div {
        gap: 0;
    }

    header p {
        font-size: 18px;
        padding: 21px 15px;
    }

    .wrapper {
        padding: 0 24px;
    }

    footer {
        padding: 32px 104px 108px 104px;
    }

    #copyright {
        flex-basis: auto;
        order: 0;
    }
}

/* Desktop styles */

@media (min-width: 1200px) {
    header {
        padding: 0 200px;
    }

    header > div {
        gap: 24px;
    }

    header > div > div {
        gap: 0;
    }

    header p {
        font-size: 18px;
        padding: 21px 15px;
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .break-on-desktop {
        display: inline;
    }

    footer {
        padding: 32px 200px 108px 200px;
    }
}
