.bestProducts {
  margin-top: 94px;
}

.bestProducts h1 {
  width: 100%;
  color: var(--Secondary-900);
  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin-bottom: 16px;
}

.bestProducts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.bestProducts-container li {
  width: 282px;
}

/* Tablet */
@media (max-width: 1199px) {
  .bestProducts {
    padding: 0 24px;
  }
  .bestProducts-container {
    width: 100%;
    justify-content: space-between;
  }
  .bestProducts-container li {
    width: 48%;
  }
  .bestProducts-container li:nth-last-child(2) {
    display: none;
  }
  .bestProducts-container li:last-child {
    display: none;
  }
}

/* Mobile */
@media (max-width: 744px) {
  .bestProducts-container li {
    width: 100%;
  }
  .bestProducts-container li:nth-last-child(3) {
    display: none;
  }
}
