:root {
    --background: #FCFCFC;
    --coolGray100: #F3F4F6;
    --coolGray400: #9CA3AF;
    --brandBlue: #3182F6;
    --simpleLogin: #E6F2FF;
    --kakao: #F5E14B;
    --errorRed: #F74747;
    --inputFocusIn: #3692FF;
}
