* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 10px = 1.0rem */

    --Brand-Blue: #3692FF;
    --Secondary-400: #9CA3AF;
    --Bg-Skyblue: #E6F2FF;
    --Cool-Gray-100: #F3F4F6;
    --Cool-Gray-800: #1F2937;
}

body{
    margin: 0;
}
header{
    width: 100%;
    height: 7rem;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
    align-items: center;
}

a{
    cursor: pointer;
}

.header-set{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.outer-margin{
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.inner-margin{
    height: 100%; 
}

.pc .outer-margin{
    padding: 0 20rem;
}

.pc .inner-margin{
    padding: 0 20rem;
}

.tablet .outer-margin{
    padding: 0 2.4rem;
}

.tablet .inner-margin{
    padding: 0 0;
}

.mobile .outer-margin{
    padding: 0 1.6rem;
}

.mobile .inner-margin{
    padding: 0 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.logo-image{
    height: 7rem;
}

.login{
    display: flex;
    width: 12.8rem;
    height: 4.8rem;
    padding: 1.2rem 2.3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    border-radius: 0.8rem;
    background: var(--Brand-Blue);


    color: var(--Cool-Gray-100);

    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
    text-decoration: none;
}

.headline{
    width: 100%;
    height: auto;
    background-color: #CFE5FF;
}

.headline .outer-margin{
    width: 100%;
    height: auto
}

.headline .inner-margin{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.headline .inner-margin > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.pc .headline .inner-margin > div{
    flex-direction: row;
    justify-content: center;
    margin: 20rem 0 0;
}

.tablet .headline .inner-margin > div{
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
    margin: 8.4rem 0 0;
}

.mobile .headline .inner-margin > div{
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    margin: 10rem 0 0;
}

.headline .descripton{ 
    width: 60%;
    font-size:  1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pc .headline .descripton{
    min-width: 36rem;
    align-items: flex-start;
}

.tablet .headline .descripton{
    width: 100%;
}

.headline .descripton h1{
    color: #374151;
    font-size: 4em;
    font-weight: 700;
}

.tablet .headline.head br{
    display: none;
}

.headline .descripton a{
    display: flex;
    height: 5.6rem;
    padding: 1.6rem 12.4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--Brand-Blue);
    border-radius: 4rem;
    text-decoration: none;

    color: var(--Secondary-50, #F9FAFB);
    text-align: center;
    font-family: Pretendard;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
}

.mobile .headline a{
    padding: 1.2rem 7.1rem;
    font-size: 1.8rem;
}

.headline img{
    width: 74.6rem;
    height: 34rem;
}

.pc .sec .inner-margin{
    width: 100%;
    height: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet .sec .inner-margin{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.moblie .sec .inner-margin{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/* 본문 세션 */

.section-box{
    background-color: #FCFCFC;
}

.pc .section-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    width: 98.8rem;
    height: 44.4rem;
}

.tablet .section-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
    /* aspect-ratio: 988 / 444; */
}

.mobile .section-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
    /* aspect-ratio: 988 / 444; */
}

/* 판매 세션만 크기 줄면 배열 순서를 뒤집는다. */
.pc .sec.buy .section-box{
    flex-direction: row-reverse;
}

.sec.buy .section-box{
    flex-direction: column;
}

.section-box img{
    width: 100%;
}

.pc .section-box img{
    width: auto;
    height: 100%;
}

.section-box .descripton{
    width: 100%;
    min-width: 30rem;
}

.section-box h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: #3692FF;
}

.section-box h1{
    font-size: 4rem;
    font-weight: 700;
    color: #374151;
}

.section-box h3{
    font-size: 2.4rem;
    font-weight: 500;
    color: #374151;
}

.sec.buy{
    text-align: right;
}

.interval{
    width: 100%;
    height: 100px;
    background-color: #FCFCFC;
}

footer{
    width: 100%;
    height: 16rem;
    background-color: #111827;
    padding: 3.2rem 0;
}

.footer-line{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-line .company-name{
    font-size: 1.6rem;
    font-weight: 400;
    color: #9CA3AF;
}

.footer-line .policy{
    display: flex;
    gap: 3rem;
}

.footer-line .policy a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #E5E7EB;
    text-decoration: none;
}

.sns-logo{
    display: flex;
    gap: 1.2rem;
}

.sns-logo img{
    width: 1.8rem;
    height: 1.8rem;
}