* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard, sans-serif;
  font-style: normal;
}

:root {
  --input-bg-color: #F3F4F6;
  --button-color: #3692FF;
  --text-color: #1F2937;
  --signup-button-text-color: #FFFFFF;
  --signup-button-bg-color: #9CA3AF;
  --social-login-bg-color: #E6F2FF;
}

body {
  display: flex;
  width: 1920px;
  padding: 60px 640px 178px 640px;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo img {
  width: 396px;
  height: 132px;
}
/* Logo */

/* Signup Form */
label {
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  color: var(--text-color);
  line-height: 26px;
}

input {
  border-radius: 12px;
  border: none;
  background-color: var(--input-bg-color);
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
}

input:focus {
  outline: 1px solid var(--button-color);
}

#password,
#confirm-password {
  background-image: url("img/eye-close.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 24px;
}

.input_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background-color: var(--signup-button-bg-color);
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: 32px;
  color: var(--signup-button-text-color);
  text-decoration: none;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
/* Signup Form */

/* Social Login */
.social-login-options p {
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
}

.social-icons img {
  width: 42px;
  height: 42px;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 594px;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--social-login-bg-color);
  width: 640px;
  height: 74px;
  padding: 16px 23px;
}
/* Social Login */

/* Login Link */
.login-section p {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 24px;
  color: var(--text-color);
}

.login-section a {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: normal;
  color: var(--button-color);
  text-decoration: underline;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
}
/* Login Link*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

article {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}