html {
  font-family: "Pretendard";
  /* font-size: clamp(16px, 1vw, 20px); */
  font-size: 20px;
}

* {
  margin: 0;
}

/* 태그 선택자 */

img {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

header img {
  height: 2.5rem;
  min-width: 7.65rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 0 clamp(5rem, 20vw, 20rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #ffffff;
}

main {
  margin-top: 3.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #111827;
  height: 6.5rem;
  padding: 1.5rem 5rem 0;
  font-size: 0.8rem;
}

/* header */

/* section */

section img {
  max-width: 100%;
  /* gap 대신 여백 */
}

/* main */

/* top */

/* middle */

.middle img {
  /* flex: 1 1 auto; */
  min-width: 55%;
  max-width: 100%;
  max-height: 22rem;
}

.middle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background-color: #fcfcfc;
  max-width: 100%;
  width: 50rem;
  margin: 6.9rem auto;
  /* flex-wrap: wrap; */
}

.middle > div:nth-child(2) {
  flex-direction: row-reverse;
}

.img_desc {
  flex: 1 1 15rem;
  min-width: 15rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left_align {
  padding-right: 1.8rem;
  margin-right: auto;
}

.right_align {
  text-align: right;
  padding-left: 1.8rem;
  margin-left: auto;
}

/* footer */

footer * {
  color: #ffffff;
}

.footer_center {
  display: flex;
  gap: 1.5rem;
}

/* top, bottom */

.top,
.bottom {
  display: flex;
  justify-content: center;
  background-color: #cfe5ff;
  min-height: 540px;
  align-items: end;
  flex-wrap: wrap;
}

.top > div,
.bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1.5rem;
  flex-shrink: 0;
  padding-top: 5rem;
}

.top img,
.bottom img {
  padding-top: 4rem;
}

.bottom > div {
  padding: 5rem 3.45rem 0;
}

/* btn */

.btn_login {
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
  padding: 0.6rem 1.15rem;
  color: #ffffff;
  background-color: #3692ff;
  flex-shrink: 0;
}

.btn_large {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #3692ff;
  padding: 0.8rem 6.2rem;
  border-radius: 2rem;
}

/* top, middle, bottom */

.home_title {
  font-size: clamp(1.9rem, 1vw, 2rem);
  font-weight: 700;
  color: #374151;
  /* align-self: center; */
  line-height: 1.5;
}
/* middle */

.home_summary {
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  font-weight: 700;
  color: #3692ff;
}

.home_desc {
  font-size: clamp(1.1rem, 1vw, 1.2rem);
  font-weight: 500;
  color: #374151;
}
