$backColor: #3692FF;

header {
  display: flex;
  height: 70px;
  align-items: center;

  flex: 1;
  justify-content: space-between;

  position: sticky;
  top: 0;

  background-color: #ffffff;

  .logoIMG {
    display: flex;
    gap: 8.592px;
  }

  .loginButton {
    padding: 12px 23px;
    background-color: $backColor;
    border-radius: 8px;
    color: #F3F4F6;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
}

.topBanner {
  padding: 200px 405px 0 405px;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;

    .title {
      color: #374151;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
    }

    a {
      display: inline-flex;
      padding: 16px 124px;
      background-color: #3692FF;
      border-radius: 40px;
      align-items: center;
      justify-content: center;
      margin-top: 32px;

      color: #F9FAFB;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      white-space: nowrap;
    }
  }
}
}

.section1, .section2, .section3 {
  padding: 138px 344px;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-around;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tag {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #3692FF;
  }

  .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.8px;
    color: #374151;
  }

  .text {
    margin-top: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
  }
}

.bottomBanner {
  padding: 143px 405px 0 405px;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 69px;
    justify-content: space-between;
    align-items: center;

    .text {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;

      white-space: nowrap;
      margin-bottom: 60px;
    }
  }
}

footer {
  height: 160px;
  padding: 32px 200px;
  background-color: #111827;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .privacy-faq {
    display: flex;
    flex-direction: row;
    gap: 30px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #E5E7EB;
  }

  .social {
    display: flex;
    gap: 12px;
  }
}

// .topBanner, .bottomBanner {
//   height: 540px;
// }