main {
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  padding: 9px 11.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
header .logoIMG {
  display: flex;
  gap: 8.592px;
}
header .loginButton {
  padding: 12px 23px;
  background-color: #3692ff;
  border-radius: 8px;
  color: #f3f4f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.topBanner {
  background: #cfe5ff;
  padding: 200px 12vw 0 12vw;
  width: 100%;
  display: flex;
  justify-content: center;
}
.topBanner .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topBanner .wrapper .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 32px;
}
.topBanner .wrapper .detail .title {
  color: #374151;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.topBanner .wrapper .detail a {
  width: 357px;
  padding: 16px 124px;
  background-color: #3692ff;
  border-radius: 40px;
  margin-bottom: 60px;
  color: #f9fafb;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  white-space: nowrap;
  text-align: center;
}

.section1,
.section2,
.section3 {
  width: 100%;
  padding: 138px 10vw;
}
.section1 .wrapper,
.section2 .wrapper,
.section3 .wrapper {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: space-around;
}
.section1 .detail,
.section2 .detail,
.section3 .detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section1 .tag,
.section2 .tag,
.section3 .tag {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #3692ff;
}
.section1 .title-text,
.section2 .title-text,
.section3 .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.section1 .title,
.section2 .title,
.section3 .title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
  color: #374151;
}
.section1 .text,
.section2 .text,
.section3 .text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
}

.bottomBanner {
  background: #cfe5ff;
  padding: 143px 12vw 0 12vw;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bottomBanner .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottomBanner .wrapper .text {
  width: 100%;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 60px;
}

footer {
  height: 160px;
  padding: 32px 6vw;
  background-color: #111827;
}
footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .privacy-faq {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e5e7eb;
}
footer .social {
  display: flex;
  gap: 12px;
}

@media (max-width: 1199px) {
  header {
    padding: 10px 24px;
  }
  .topBanner {
    width: 100%;
    padding: 84px 116px 0 116px;
  }
  .topBanner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 211px;
  }
  .topBanner .wrapper .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    text-align: center;
  }
  .topBanner .wrapper .detail a {
    display: inline-block;
    width: auto;
    align-self: center;
    margin: 0;
  }
  .section1,
  .section3 {
    padding: 24px;
    padding-bottom: 26px;
  }
  .section1 .wrapper,
  .section3 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .section1 .detail,
  .section3 .detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .section2 {
    padding: 24px;
    padding-bottom: 26px;
  }
  .section2 .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .section2 .wrapper .detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
  }
  .section3 {
    padding: 24px;
    padding-bottom: 56px;
  }
  .bottomBanner {
    background-color: #cfe5ff;
    padding-top: 201px;
    width: 100%;
  }
  .bottomBanner .wrapper {
    display: flex;
    flex-direction: column;
    gap: 217px;
  }
  .bottomBanner .wrapper .text {
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 743px) {
  header {
    padding: 10px 16px;
  }
  .topBanner {
    width: 100%;
    padding: 0;
  }
  .topBanner .wrapper {
    gap: 132px;
    overflow: hidden;
  }
  .topBanner .wrapper .detail {
    padding: 48px 67px 0 67px;
    gap: 16px;
  }
  .topBanner .wrapper .detail .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  .topBanner .wrapper .detail a {
    padding: 12px 71px;
    width: 100%;
    display: inline-block;
    width: auto;
    align-self: center;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  .topBanner .wrapper img {
    display: block;
    width: 448px;
    align-self: center;
  }
  .section1,
  .section2,
  .section3 {
    width: 100%;
    padding: 52px 16px 0 16px;
    margin-bottom: 40px;
  }
  .section1 .wrapper,
  .section2 .wrapper,
  .section3 .wrapper {
    gap: 24px;
  }
  .section1 .detail,
  .section2 .detail,
  .section3 .detail {
    gap: 8px;
  }
  .section1 .tag,
  .section2 .tag,
  .section3 .tag {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  .section1 .title-text,
  .section2 .title-text,
  .section3 .title-text {
    gap: 16px;
  }
  .section1 .title,
  .section2 .title,
  .section3 .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .section1 .text,
  .section2 .text,
  .section3 .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  .bottomBanner {
    padding: 0;
  }
  .bottomBanner .wrapper {
    gap: 131px;
    overflow: hidden;
  }
  .bottomBanner .wrapper .text {
    padding: 121px 70px 0 70px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
  }
  .bottomBanner .wrapper img {
    display: block;
    width: 375px;
    align-self: center;
  }
  footer {
    width: 100%;
    padding: 32px 16px;
  }
  footer .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  footer .wrapper .codeit {
    width: 112px;
  }
}/*# sourceMappingURL=style.css.map */