@use '@styles/mixin' as *;

.productListController {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;

    h2 {
        font-size: 2.0rem;
        font-weight: 700;
    }

    button {
        @include base-button;
        padding: 1.2rem 2.3rem;
    }

    div {
        display: flex;
        gap: 1.2rem;
    }

    .searchInput {
        display: flex;
        align-items: center;
        position: relative;

        input {
            @include base-input;
            padding: 1.4rem 1.6rem 1.4rem 4.4rem;
        }

        img {
            position: absolute;
            left: 1.6rem;
        }
    }
}

@media (min-width: 744px) and (max-width: 1200px) {}

@media (min-width: 0px) and (max-width: 744px) {
    .productListController {
        flex-direction: column;
        align-items: baseline;
        gap: 1.3rem;
        position: relative;
        
        h2 {
            height: 4.2rem;
            line-height: 4.2rem;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
        div {
            width: 100%;
            justify-content: space-between;
        }
    }
}