@import '../../../../style/color_variables.css';

.productListController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--Secondary-900);
  }

  .controlBox {
    display: flex;
    gap: 12px;

    .searchInputBox {
      position: relative;
      display: flex;
      align-items: center;

      input {
        width: 325px;
        height: 42px;
        padding: 9px 20px 9px 45px;
        border-radius: 12px;
        border: none;
        outline: none;
        background-color: var(--Secondary-100);
      }

      input:focus {
        border: 1px solid var(--Secondary-400);
      }

      img {
        position: absolute;
        left: 16px;
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }

    .registrationButton {
      justify-content: center;
      align-items: center;
      background-color: var(--button-color);
      border-radius: 8px;
      border: none;
      outline: none;
      width: 128px;
      padding: 12px 0;
      text-decoration: none;
      font-size: 1rem; /* 16px */
      color: var(--Cool-Gray-100);
      text-align: center;
      cursor: pointer;
    }

    .registrationButton:hover {
      text-decoration: underline;
    }
  }
}

/* PC */
@media (min-width: 1200px) {
  .productListController {
    width: 1200px;
  }
}

/* Tablet 744~1199px */
@media (min-width: 744px) {
  .productListController {
    width: 692px;
  }
}

/* Mobile 375~743px */
@media (min-width: 375px) {
  .productListController {
    width: 299px;
  }
}