.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem; // 예시값
  margin-bottom: 4.0rem;
  
  li {
    flex: 0 0 calc((100% - (var(--items-per-row) - 1) * 1.6rem) / var(--items-per-row));
  }
}