PORT=4000

DATABASE_URL="postgresql://postgres:example3@localhost:5432/panda_db?schema=public"

JWT_SECRET = "myTestSecretKey122333444"
JWT_ACCESS_EXPIRES_IN = "1h"
JWT_REFRESH_EXPIRES_IN = "2w"

GOOGLE_CLIENT_ID = "exampleID"
GOOGLE_CLIENT_SECRET = "exampleSecret"