.main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.4rem 0 14rem;

  .productListSection h1 {
    margin-bottom: 2.4rem;
  }

  section:nth-child(2) {
    margin-top: 4rem;
  }

  .bestProductList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 2.4rem;
  }

  .productListTitleWrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;

    h1 {
      flex-grow: 1;
    }
  }

  .loading {
    font-size: 1.6rem;
    color: var(--secondary-color-400);
    margin-top: 4rem;
  }
}

.noProduct {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondary-color-400);
  margin-top: 4rem;
}

@media (max-width: 1199px) {
  .main {
    width: calc(100% - 4.8rem);

    .bestProductList {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .productList {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem 1.6rem;
    }
  }
}

@media (max-width: 743px) {
  .main {
    width: calc(100% - 3.2rem);

    .productListSection h1 {
      margin-bottom: 1.6rem;
    }

    .bestProductList {
      grid-template-columns: repeat(1, 1fr);
    }

    .productList {
      grid-template-columns: repeat(2, 1fr);
      gap: 3.2rem 0.8rem;
    }
  }

  .productListTitleWrapper {
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
    justify-content: space-between;

    h1 {
      flex-basis: 40%;
      order: -2;
    }

    .searchInputComponent {
      max-width: calc(100% - 5.4rem);
    }

    .productListRegisterButton {
      flex-basis: 50%;
      order: -1;
    }

    .productListSortButton {
      flex-basis: 5%;
    }
  }
}
