.main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.4rem 0 14rem;

  section:nth-child(2) {
    margin-top: 4rem;
  }

  .bestProductList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 2.4rem;
  }
}

.productListTitleWrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;

  h1 {
    flex-grow: 1;
  }
}

.noProduct {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--secondary-color-400);
  margin-top: 4rem;
}

@media (max-width: 1199px) {
  .main {
    width: calc(100% - 4.8rem);
  }
}

@media (max-width: 743px) {
  .main {
    width: calc(100% - 3.2rem);
  }
}
