.registrationWrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.8rem 0 19.4rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.registrationTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color-700);
  text-align: center;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.tagInputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  > button {
    position: absolute;
    right: 0.8rem;
    top: 4.5rem;
  }
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

@media (max-width: 1199px) {
  .registrationWrapper {
    width: calc(100% - 4.8rem);
  }
}

@media (max-width: 743px) {
  .registrationWrapper {
    width: calc(100% - 3.2rem);
  }
}
