@import '../../style/color_variables.css';

.PageButtons {
  display: flex;
  justify-content: center;
  gap: 4px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--Cool-Gray-200);
    background-color: #ffffff;
    padding: 12.5px;
    font-weight: 600;
    cursor: pointer;
  }

  button:disabled {
    background-color: var(--Cool-Gray-200);
    cursor: default;
  }

  .selected {
    background-color: var(--button-color);
    border: none;
    cursor: default;
    color: var(--Cool-Gray-100);
  }
}