* {
 box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --Brand-Blue: #3692FF;
    --Secondary-400: #9CA3AF;
    --Bg-Skyblue: #E6F2FF;
    --Cool-Gray-100: #F3F4F6;
    --Cool-Gray-800: #1F2937;
    --Error-Red: #F74747;
}   

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a,
.clickable{
    cursor: pointer;
}


.popup{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.popup .bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.popup .box{
    width: 90%;
    max-width: 52rem;
    height: 25rem;
    margin: 0 1.6rem;
    background-color: #ffffff;
    border-radius: 8px;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.popup h1{
    color: var(--Cool-Gray-800);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popup button{
    position: absolute;
    right: 2.8rem;
    bottom: 2.8rem;

    padding: 12px 23px;
    border-radius: 8px;
    background: var(--brand-blue, #3692FF);
    border: none;
    
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #ffffff;

    cursor: pointer;
}

.login-box {
    width: 100%;
    max-width: 64rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 0;
}

.tablet .login-box{
    margin: 4.8rem 2.4rem 0;
}

.mobile .login-box{
    margin: 2.4rem 1.6rem 0;
}

.main-logo a{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-logo img{
    width: 50%;
    margin: 0 0 2.4rem;
}

.login-box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-box div{
    width: 100%;
}

.login-form label{
    color: var(--Secondary-800);
    font-family: Pretendard;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem
}

.login-form input{
    display: flex;
    width: 100%;
    height: 5.5rem;
    padding: 1.6rem 2.4rem;
    align-items: center;
    gap: 1rem;

    border-radius: 1.2rem;
    background-color: var(--Cool-Gray-100);
    margin: 1.6rem 0 0;
    border: none;
}

.login-form input:focus{
    outline: 0.1rem solid var(--Brand-Blue);
}

.login-form input.error{
    outline: 0.1rem solid var(--Error-Red);
}

.login-form input::placeholder{
    color: var(--Cool-Gray-800);
}

.valid-check-text{
    color: var(--Error-Red);
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1.6rem;
}

.input-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email-form,
.pw-form,
.repw-form{
    margin: 0 0 2.4rem;
}

.pw-eye{
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    inset: 3.2rem 2.4rem 1.6rem auto;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.login-form button{
    display: flex;
    width: 100%;
    height: 5.6rem;
    padding: 1.6rem 12.4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: none;
    border-radius: 4rem;
    background-color: var(--Secondary-400);

    color: var(--Cool-Gray-100);
    text-align: center;

    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;

    margin: 0 0 2.4rem;
}

.login-form .clickable{
    background-color: var(--Brand-Blue);
}

.simple-login{
    display: flex;
    height: 7.4rem;
    padding: 1.6rem 2.3rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border-radius: 0.8rem;
    background-color: var(--Bg-Skyblue);
}

.simple-login div{
    display: flex;
    width: auto;
    gap: 1rem;
}

.simple-login h1{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem
}

.simple-login img{
    width: 4.2rem;
    height: 4.2rem;
}

.signup-massage{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.4rem;
}

.signup-massage h3,
.signup-massage a{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.signup-massage a{
    color: var(--Brand-Blue);
}

/* 원래 브라우저 기능으로 비밀번호 눈을 지원하는 걸 끔 */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear{
    display: none;
}