section {
  padding: 231px 640px 284px 640px;
  width: 100%;
  display: flex;
  justify-content: center;


  .logo-loginForm {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .logo {
      display: flex;
      justify-content: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    .email, .password {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
      }
    }
  }
}

.userEmailInput, .userPasswordInput {
    display: flex;
    width: 640px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #F3F4F6;
    border: none;
    outline: none;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #9CA3AF;

    margin-top: 16px;
}

.userEmailInput:focus, .userPasswordInput:focus {
  border: 1px solid #3692FF;
  outline: none;
}

.submitBtn {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #9CA3AF;
  border-radius: 40px;
  border: none;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #F3F4F6;
}

.socialLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #E6F2FF;
  border-radius: 8px;

  padding: 16px 23px;
  margin: 24px 0;

  .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
}

.signup {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;

  div {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  a {
    color: #3692FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
  }
}

@media (max-width: 743px) {
  section {
    padding: 24px 16px;
    width: 100%;
    max-width: 400px;

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .logo-loginForm {
      gap: 24px;
      align-items: center;

      a {
        width: 198px;
        height: 66px;
      }
    }

    .email, .password {
      display: flex;
      flex-grow: 1;
      width: 100%;
    }

    .loginForm {
      display: flex;
      width: 100%;
    }

    form {
      gap: 16px;
      width: 100%;
      flex-grow: 1;

      label, input {
        width: 100%;
      }
    }
  }

  .userEmailInput, .userPasswordInput {
    width: 100%;
    height: auto;
    margin-top: 8px;
  }

  .submitBtn {
    width: 100%;
    height: auto;
  }

  .socialLogin {
    width: 100%;

    .title {
      line-height: 24px;
    }
  }
}

