* {
 box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --Brand-Blue: #3692FF;
    --Secondary-400: #9CA3AF;
    --Bg-Skyblue: #E6F2FF;
    --Cool-Gray-100: #F3F4F6;
    --Cool-Gray-800: #1F2937;
    --Error-Red: #F74747;
}   

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a,
.clickable{
    cursor: pointer;
}

.signup-box {
    width: 100%;
    max-width: 64rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0 0;
}

.tablet .signup-box{
    margin: 4.8rem 2.4rem 0;
}

.mobile .signup-box{
    margin: 2.4rem 1.6rem 0;
}

.main-logo a{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-logo img{
    width: 50%;
    margin: 0 0 2.4rem;
}

.signup-box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-box div{
    width: 100%;
}

.signup-form label{
    color: var(--Secondary-800);
    font-family: Pretendard;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem
}

.signup-form input{
    display: flex;
    width: 100%;
    height: 5.5rem;
    padding: 1.6rem 2.4rem;
    align-items: center;
    gap: 1rem;

    border-radius: 1.2rem;
    background-color: var(--Cool-Gray-100);
    margin: 1.6rem 0 0;
    border: none;
}

.signup-form input:focus{
    outline: 0.1rem solid var(--Brand-Blue);
}

.signup-form input.error{
    outline: 0.1rem solid var(--Error-Red);
}

.signup-form input::placeholder{
    color: var(--Cool-Gray-800);
}

.valid-check-text{
    color: var(--Error-Red);
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1.6rem;
}

.input-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.email-form,
.pw-form,
.repw-form{
    margin: 0 0 2.4rem;
}

.pw-eye{
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    inset: 3.2rem 2.4rem 1.6rem auto;

    display: flex;  
    justify-content: center;
    align-items: center;
}

.signup-form button{
    display: flex;
    width: 100%;
    height: 5.6rem;
    padding: 1.6rem 12.4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: none;
    border-radius: 4rem;
    background-color: var(--Secondary-400);

    color: var(--Cool-Gray-100);
    text-align: center;

    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;

    margin: 0 0 2.4rem;
}

.signup-form .clickable{
    background-color: var(--Brand-Blue);
}

.simple-login{
    display: flex;
    height: 7.4rem;
    padding: 1.6rem 2.3rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border-radius: 0.8rem;
    background-color: var(--Bg-Skyblue);
}

.simple-login div{
    display: flex;
    width: auto;
    gap: 1rem;
}

.simple-login h1{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem
}

.simple-login img{
    width: 4.2rem;
    height: 4.2rem;
}

.login-massage{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.login-massage h3,
.login-massage a{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.login-massage a{
    color: var(--Brand-Blue);
}