@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.articlePage {
  @include m.center-block(1200px);
  margin-top: 24px;
  margin-bottom: 293px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.bestContents {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .title {
    color: v.$coolGray-900;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .cardWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.normalContents {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: v.$secondary-800;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }
  }

  .searchWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
      width: 1054px;
    }
  }
}

.contentsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  min-height: 200px; // 로딩 스피너가 표시될 최소 높이
}

.linkTag {
  @include m.link-reset;
}
