@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.detailArticlePage {
  @include m.center-block(1200px);
  margin-top: 34px;
  margin-bottom: 193px;
}

.pageWrapper {
  width: 100%;
}

.article {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    flex-direction: column;

    .title {
      color: v.$secondary-800;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }

    .titleWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .detail {
    color: v.$secondary-800;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}

.userAndFavorite {
  padding: 16px 0;

  display: flex;
  align-items: center;
  gap: 32px;

  .userInfo {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.nameAndDate {
  display: flex;
  align-items: center;
  gap: 8px;

  .name {
    color: v.$secondary-600;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .date {
    color: v.$secondary-400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.addComment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;

  margin-top: 32px;
  margin-bottom: 40px;
}

.addCommentWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;

  .title {
    color: v.$coolGray-900;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
}

.buttonWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
