@use '@/styles/mixin' as m;
@use '@/styles/variable' as v;

.detailArticlePage {
  @include m.center-block(1200px);
  margin-top: 34px;
  margin-bottom: 193px;
}

.pageWrapper {
  width: 100%;
}

.contentWrapper {
  width: 100%;
}

.buttonWrapper {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
