@use '@/styles/mixin' as m;
$brandBlue: #3692ff;

.main {
  width: 100%;
}

.topBanner {
  background: #cfe5ff;
  padding: 200px 12vw 0 12vw;
  width: 100%;

  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 32px;

      .title {
        color: #374151;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
      }
    }
  }
}

.itemsBtn {
  @include m.link-reset;

  width: 357px;
  padding: 16px 124px;
  background-color: $brandBlue;
  border-radius: 40px;
  margin-bottom: 60px;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  white-space: nowrap;
  color: #f9fafb;

  text-align: center;
}

.section1,
.section2,
.section3 {
  width: 100%;
  padding: 138px 10vw;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-around;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tag {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: $brandBlue;
  }

  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.8px;
    color: #374151;
  }

  .text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
  }
}

.bottomBanner {
  background: #cfe5ff;
  padding: 143px 12vw 0 12vw;
  width: 100%;

  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .text {
      width: 100%;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      margin-bottom: 60px;
    }
  }
}

// Tablet Responsive
@media (max-width: 1199px) {
  .topBanner {
    width: 100%;
    padding: 84px 116px 0 116px;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 211px;

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        text-align: center;
      }
    }
  }

  .itemsBtn {
    display: inline-block;
    width: auto;
    align-self: center;
    margin: 0;
  }

  .section1,
  .section3 {
    padding: 24px;
    padding-bottom: 26px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .section2 {
    padding: 24px;
    padding-bottom: 26px;

    .wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;

      .detail {
        display: flex;
        flex-direction: column;
        gap: 16px;

        text-align: right;
      }
    }
  }

  .section3 {
    padding: 24px;
    padding-bottom: 56px;
  }

  .bottomBanner {
    background-color: #cfe5ff;
    padding-top: 201px;
    width: 100%;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 217px;

      .text {
        text-align: center;
        margin: 0;
      }
    }
  }
}

//Mobile Responsive
@media (max-width: 743px) {
  .topBanner {
    width: 100%;
    padding: 0;

    .wrapper {
      gap: 132px;
      overflow: hidden;

      .detail {
        padding: 48px 67px 0 67px;
        gap: 16px;

        .title {
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
        }
      }

      img {
        display: block;
        width: 448px;
        align-self: center;
      }
    }
  }

  .itemsBtn {
    padding: 12px 71px;
    width: 100%;

    display: inline-block;
    width: auto;
    align-self: center;
    margin: 0;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }

  .section1,
  .section2,
  .section3 {
    width: 100%;
    padding: 52px 16px 0 16px;
    margin-bottom: 40px;

    .wrapper {
      gap: 24px;
    }

    .detail {
      gap: 8px;
    }

    .tag {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }

    .title-text {
      gap: 16px;
    }

    .title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }

    .text {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }
  }

  .bottomBanner {
    padding: 0;

    .wrapper {
      gap: 131px;
      overflow: hidden;

      .text {
        padding: 121px 70px 0 70px;

        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
      }

      img {
        display: block;
        width: 375px;
        align-self: center;
      }
    }
  }
}
