$brand-blue: #3692ff;

$primary-100: #3692ff;
$primary-200: #1967d6;
$primary-300: #1251aa;

$secondary-100: #f3f4f6;
$secondary-200: #e5e7eb;
$secondary-300: #e5e7eb;
$secondary-400: #9ca3af;
$secondary-500: #6b7280;
$secondary-600: #4b5563;
$secondary-800: #1f2937;
$secondary-900: #111827;

$coolGray-50: #f9fafb;
$coolGray-100: #f3f4f6;
$coolGray-200: #e5e7eb;
$coolGray-300: #d1d5db;
$coolGray-400: #9ca3af;
$coolGray-800: #1f2937;
$coolGray-900: #111827;

$bg-gray: #fcfcfc;

$white: #ffffff;
