.bestProducts {
  margin-top: 94px;
}

.bestProducts h1 {
  width: 100%;
  color: var(--Secondary-900);
  /* pretendard/xl-20px-bold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin-bottom: 16px;
}

.bestProducts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.bestProducts-container li {
  width: 282px;
}
