/* 로그인 페이지 스타일 */
.login-container {
  display: flex;
  justify-content: center;
  height: 100dvh;
  background-color: var(--background-color);
  padding-top: 6rem;
}

.login-wrapper {
  width: 100%;
  max-width: 64rem;
}

.logo-container{
  text-align: center;
  margin-bottom: 4rem;
}

.auth-form {
  margin-bottom: 2.4rem;
}

.input-group {
  margin-bottom: 2.4rem;
}

.btn-large {
  width: 100%;
}

@media (max-width: 1199px) {
  .login-container {
    padding-top: 4.8rem;
  }
}

@media (max-width: 743px) {
  .login-container {
    padding-top: 2.4rem;
  }

  .login-wrapper{
    max-width: calc(40rem + 3.2rem);
    padding: 0 1.6rem;
  }

  .logo-container img{
    width: 19.8rem;
  }
}