@import '../../../style//color_variables.css';

.navigator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;

  Link {
    color: var(--Secondary-600);
    text-align: center;
    font-weight: 700;
    font-size: 1.125rem;  /* 18px */
    text-decoration: none;
    cursor: pointer;
  }

  Link:hover {
    text-decoration: underline;
  }

  Link.active {
    color: #3692ff;
  }
}