.Navigator {
  display: flex;
  padding: 21px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    color: var(--Secondary-600);
    text-align: center;
    font-weight: 700;
    font-size: 1.125rem;  /* 18px */
  }
}