/* Tailwind v4 */
@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 744px;
  --breakpoint-pc: 1200px;

  --font-rokaf: "ROKAF Sans", sans-serif;
  --color-brand-blue: #3692ff;
  --color-secondary-800: #1f2937;
}

/* 글로벌 기본값 */
:root {
  --brand-blue: #3692ff;
  --secondary-800: #1f2937;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
