@font-face {
    font-family: 'ROKAF-Sans';
    src: url('./woff2/ROKAF Sans Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ROKAF-Sans';
    src: url('./woff2/ROKAF Sans Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}