/* color */
:root {
  --brand-blue: #3692FF;
  --Primary-100: #3692FF;
  --Cool-Gray-100: #F3F4F6;
  --Cool-Gray-800: #1F2937;
  --Secondary-50: #F9FAFB;
  --Secondary-200: #E5E7EB;
  --Secondary-400: #9CA3AF;
  --Secondary-700: #374151;
  --Secondary-800: #1F2937;
  --Secondary-900: #111827;
  --error-red: #F74747;
}
