/* 상품 페이지 인덱스  */
.pageIndex {
    display: flex;
    gap: 4px;
}

.pageIndex button {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 12.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    flex-shrink: 0;

    border-radius: 40px;
    border: 1px solid var(--Cool-Gray-200, #e5e7eb);
    background: #fff;

    /* 글자 속성 */
    color: var(--Cool-Gray-500, #6b7280);
    /* pretendard/lg-16px-semibold */
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.arrowLeft {
    background-image: url('/images/items/arrow_left.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.arrowRight {
    background-image: url('/images/items/arrow_right.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}