@use '@styles/variables' as *;

.footer {
    background-color: $color-secondary-900;
    height: 16.0rem;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 20.0rem 0 20.0rem;

        p {
            color: $color-secondary-400;
            font-size: 1.6rem;
        }

        a {
            cursor: pointer;
            color: $color-secondary-200;
            font-size: 1.6rem;
        }

        .center {
            display: flex;
            gap: 3.0rem;
        }

        .icons {
            display: flex;
            gap: 1.2rem;
        }
    }
}