.featureItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 98.8rem;
  margin: 13.8rem auto;
  gap: 6.2rem;
  color: var(--gray-color-700);
  background-color: var(--background-color);
}

.featureItem:nth-child(2n) {
  flex-direction: row-reverse;
}

.featureItem:last-child {
  margin-bottom: 0;
}

.itemImgContainer {
  border-radius: 1.6rem;
}

.textTag {
  font-size: 1.8rem;
  color: var(--primary-color-100);
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.featureItem h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: var(--secondary-color-700);
}

.featureItem .itemText {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--secondary-color-700);
}

@media (max-width: 1199px) {
  .featureItem {
    width: 100%;
    gap: 2.4rem;
    margin: 0 auto;
    padding: 0 2.4rem 5.2rem;
    flex-direction: column;
  }

  .featureItem:nth-child(2) {
    flex-direction: column;
  }

  .featureItem .itemTextContainer {
    width: 100%;
    max-width: 58.8rem;
    margin: 0 auto;
  }

  .featureItem h2 {
    font-size: 3.2rem;
  }

  .featureItem:nth-child(2n) {
    text-align: right;
  }

  .featureItem:nth-child(2n) img {
    order: -1;
  }

  .featureItem .itemText {
    font-size: 1.8rem;
  }

  .desktopOnly {
    display: none;
  }
}

@media (max-width: 743px) {
  .featureItem {
    padding: 0 1.6rem 4rem;
  }

  .featureItem:last-child {
    padding-bottom: 8rem;
  }

  .featureItem:nth-child(2n) {
    flex-direction: column;
  }

  .featureItem img {
    width: 100%;
    height: auto;
  }

  .featureItem h2 {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  .featureItem .itemText {
    font-size: 1.8rem;
  }
}
