.heroSection {
  background-color: #cfe5ff;
}

.heroTextContainer {
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
  padding: 24rem 0 10rem;
  background-image: url('/main-page/hero-img.svg');
  background-position: right 0rem bottom;
  background-repeat: no-repeat;
}

.heroSection2 .heroTextContainer {
  background-image: url('/main-page/hero-img-02.svg');
}

.heroSection h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3.2rem;
  color: var(--secondary-color-700);
}

.goToButton {
  display: inline-block;
  width: 35.7rem;
  height: 5.6rem;
  text-align: center;
  line-height: 5.6rem;
  background-color: var(--primary-color-100);
  color: #fff;
  border-radius: 2.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .heroTextContainer {
    padding: 8.4rem 0rem 50rem;
    text-align: center;
    background-position: center bottom 0rem;
  }

  .heroSection2 .heroTextContainer {
    padding: 20rem 0 61.4rem;
  }

  .heroSection h1 {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }

  .tabletNone {
    display: none;
  }
}

@media (max-width: 743px) {
  .heroTextContainer {
    padding: 4.8rem 0rem 33.6rem;
    background-size: calc(100% - 6.4rem);
  }

  .heroSection2 .heroTextContainer {
    padding: 12rem 0 30rem;
  }

  .heroSection h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .tabletNone {
    display: block;
  }
}
