#itemsHeader {
    padding: 0 200px;
}

#itemsHeader img {
    margin: 0 100px 0 0;
}

#headerMenu {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-right: auto;
}

.headerAnchorText {
    color: #4B5563;
    font-size: 18px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
    line-height: 26px;
    word-wrap: break-word
}

.product-window {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

/* ProductCard 컴포넌트 스타일 적용 */
