/* main css */

html {
  /* reset 덮어쓰기용 */
  font-size: clamp(30%, 1vw, 62.5%);
}

.header {
  /* padding: 0 clamp(10rem, 20vw, 40rem); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  background-color: #ffffff;
  padding: 0 20rem;
}

.main {
  margin-top: 7rem;
}

.footer {
  /* display: flex;
  justify-content: space-between;
  gap: 2rem; */
  background-color: #111827;
  height: 16rem;
  /* padding: 3rem 10rem 0; */
  font-size: 1.6rem;
  padding: 0 20rem;
}

.wrapper {
  max-width: 152rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.footer .wrapper {
  padding-top: 3.2rem;
  align-items: start;
}

/* header */

.header_logo {
  height: 5rem;
  min-width: 15.3rem;
}

/* middle */

.middle img {
  min-width: 55%;
  max-width: 100%;
  max-height: 44rem;
}

.middle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  background-color: #fcfcfc;
  max-width: 100%;
  width: 100rem;
  margin: 13.8rem auto;
}

.middle > div:nth-child(2) {
  flex-direction: row-reverse;
}

.img_desc {
  flex: 1 1 30rem;
  min-width: 30rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left_align {
  padding-right: 3.6rem;
  margin-right: auto;
}

.right_align {
  text-align: right;
  padding-left: 3.6rem;
  margin-left: auto;
}

/* footer */

.footer * {
  color: #ffffff;
}

.footer_center {
  display: flex;
  gap: 3rem;
}

.footer_right {
  display: flex;
  gap: 1.2rem;
}

/* top, bottom */

.top,
.bottom {
  display: flex;
  justify-content: center;
  background-color: #cfe5ff;
  /* min-height: 540px; (픽셀 값은 유지) */
  /* min-height: 540px; */
  align-items: end;
  flex-wrap: wrap;
  padding: 0 20rem;
}

.top > .wrapper,
.bottom > .wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 100%;
  padding-top: 10rem;
}

.top > .wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.top img,
.bottom img {
  padding-top: 8rem;
}

/* .bottom > div {
  padding: 10rem 6.9rem 0;
} */

/* btn */

.btn_login {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.2rem 2.3rem;
  color: #ffffff;
  background-color: #3692ff;
  flex-shrink: 0;
}

.btn_large {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #3692ff;
  padding: 1.6rem 12.4rem;
  border-radius: 4rem;
}

/* top, middle, bottom */

.home_title {
  font-size: clamp(3.8rem, 1vw, 4rem);
  font-weight: 700;
  color: #374151;
  /* align-self: center; */
  line-height: 1.5;
}
/* middle */

.home_summary {
  font-size: clamp(1.6rem, 1vw, 1.8rem);
  font-weight: 700;
  color: #3692ff;
}

.home_desc {
  font-size: clamp(2.2rem, 1vw, 2.4rem);
  font-weight: 500;
  color: #374151;
}
