/* Mobile styles - 기본 스타일 */
.itemsMain{
    padding: 0;
}

.itemsMain > div {
    /*네비게이션 때문에 일부러 위쪽 마진이 main에 들어가 있음*/
    /*안쪽 컨텐츠는 일단 패딩으로 해결*/
    padding: 17px 16px 0;
}

.itemsMain section{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#best-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
}

#common-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 140px;
}

.section-headline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#best-products .section-headline{
    margin: 0 0 16px;
}

.section-headline{
    width: 100%;
    gap: 8px;
}

.section-headline p{
    color: var(--Secondary-900, #111827);
    /* pretendard/xl-20px-bold */
    font-size: 20px;
    font-weight: 700;
    line-height: 32px; /* 160% */
    flex-shrink: 0;
}

.section-headline div{
    display: flex;  
    flex-direction: row;
    gap: 12px;
}

.section-headline .search-box{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 325px;
    height: 42px;
}

.section-headline .search-icon{
    position: absolute;  
    left: 16px;
    width: 24px;
    height: 24px;
}

.section-headline input{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 9px 20px 9px 44px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 12px;
    border: none;
    background-color: var(--Secondary-100, #F3F4F6);
}

.section-headline input::placeholder{
    /* 글자 속성 */
    color: var(--Secondary-400, #9CA3AF);
    /* pretendard/lg-16px-regular */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.section-headline button{
    display: flex;
    height: 42px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--Primary-100, #3692FF);
    flex-shrink: 0;

    /* 글자 스타일 */
    color: var(--Cool-Gray-100, #F3F4F6);
    /* pretendard/lg-16px-semibold */
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.section-headline select{
    width: 130px;
    height: 42px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 10px;

    border-radius: 12px;
    border: 1px solid var(--Cool-Gray-200, #E5E7EB);
    background: #FFF;

    /* 글자 스타일 */
    color: var(--Secondary-800, #1F2937);
    /* pretendard/lg-16px-regular */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 162.5% */
}

.section-headline .dropdown{
    position: relative;
    display: flex;
    align-items: center;
}

.section-headline .dropdown-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}

.list-grid{
    display: grid;
    row-gap: 40px;                         
    column-gap: 24px;                      
    list-style: none;
    padding: 0;
    width: 100%;
}

.list-grid li{
    display: flex;
}

/* 개별 상품 표시 스타일 */
.product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.image-box{
    width: 100%;
    height: auto;
    object-fit: 'cover';
    aspect-ratio: 1;
}

.product .description{
    gap: 6px;
}

.product p{
    text-align: left;
}

.product .name{
    color: var(--Secondary-800, #1F2937);
    /* pretendard/md-14px-medium */
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.product .price{
    color: var(--Secondary-800, #1F2937);
    /* pretendard/lg-16px-bold */
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

.favorite{
    display: flex;

    color: var(--Secondary-600, #4B5563);
    /* pretendard/xs-12px-medium */
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.favorite button{
    width: 16px;
    height: 16px;
}

/* 상품 페이지 인덱스  */
.list-page-index{
    display: flex;
    gap: 4px;
}

.list-page-index button{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 12.5px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    gap: 12.5px;
    flex-shrink: 0;

    border-radius: 40px;
    border: 1px solid var(--Cool-Gray-200, #E5E7EB);
    background: #FFF;

    /* 글자 속성 */
    color: var(--Cool-Gray-500, #6B7280);
    /* pretendard/lg-16px-semibold */
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.list-page-index .arrow-left{
    background-image: url('/images/items/arrow_left.svg');
    background-repeat: no-repeat;  
    background-size: 40%;
    background-position: center;
}

.list-page-index .arrow-right{
    background-image: url('/images/items/arrow_right.svg');
    background-repeat: no-repeat;  
    background-size: 40%;
    background-position: center;
}

/* Mobile styles */
@media (max-width: 743px){

    #common-products .section-headline{
        margin: 0 0 16px;
    }

    #common-products .section-headline{
        margin: 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }   

    #common-products .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 53px;
    }

    .section-headline > div{
        width: 100%;
    }

    .section-headline .search-box{
        width: 100%;
        max-width: 100% ;
    }
    
    .section-headline select{
        color: transparent;
        display: flex;
        width: 42px;
        height: 42px;
        padding: 9px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;

        background-image: url('/images/items/ic_dropdown.svg');
        background-repeat: no-repeat;  
        background-size: 40%;
        background-position: center;
    }

    select option{
        color: var(--Secondary-800, #1F2937);
    }

    #best-products .list-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    #common-products .list-grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0 43px;
    }

    #best-products .list-grid li:nth-of-type(n + 2) {
        display: none;
    }
    #common-products .list-grid li:nth-of-type(n + 5) {
        display: none;
    }

    .list-grid{                   
        column-gap: 8px;                      
    }
}

/* Tablet styles */
@media (min-width: 744px) {

    .itemsMain{
        padding: 24px 0 0;
    }

    #common-products .section-headline{
        margin: 0 0 24px;
    }

    #best-products .list-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    #common-products .list-grid{
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 43px;
    }

    #best-products .list-grid li:nth-of-type(n + 3) {
        display: none;
    }

    #common-products .list-grid li:nth-of-type(n + 7) {
        display: none;
    }

    .list-grid{                   
        column-gap: 16px;                      
    }
}

/* Desktop styles */
@media (min-width: 1200px) {
    .itemsMain{
        padding: 24px 0 0;
    }

    #common-products .section-headline{
        margin: 0 0 24px;
    }

    #best-products .list-grid{
        grid-template-columns: repeat(4, 1fr);
    }

    #common-products .list-grid{
        grid-template-columns: repeat(5, 1fr);
        margin: 0 0 43px;
    }

    #best-products .list-grid li:nth-of-type(n) {
        display: flex;
    }

    #common-products .list-grid li:nth-of-type(n) {
        display: flex;
    }

    .list-grid{                   
        column-gap: 24px;                      
    }
}