@use '@styles/variables' as *;

.logo {
    display: flex;
    align-items: center;
    gap: 0.86rem;
    cursor: pointer;

    p {
        color: $color-primary-100;
        font-family: 'ROKAFSansMedium';
        font-size: 2.56rem;
        font-weight: 700;
    }
}

@media (min-width: 744px) and (max-width: 1200px) {
    .logo {
        margin-left: 20px;
    }
}

@media (min-width: 0px) and (max-width: 744px) {
    .logo {
        margin-left: 20px;

        img {
            position: absolute;
            opacity: 0;
        }
    }
}