.productForm {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.formTitle {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.registerBtn {
  background-color: var(--color-gray-400);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  &.active {
    background-color: var(--color-primary);
  }
}

.registerBtn:hover {
  background-color: var(--color-gray-500);
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
